# .NET Core / Visual Studio
.vscode/
.vs/
bin/
obj/
*.userprefs
*.suo
*.user
*.vscode
*.vspscc
*.vssscc
*.user
*.psess
*.dbmdl
*.dbproj.user
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
*.bak
*.cache
*.cl
*.class
*.dll
*.exe
*.ldf
*.lib
*.mdf
*.msi
*.tmp
*.npmrc
*.lock
node_modules/
bower_components/
bin/
obj/
